{% if site.friends %}
<hr>
<h5 style="font-size:15px;">LINKS</h5>
<ul class="list-inline">
  {% for friend in site.friends %}
  <li><a target="_blank" style="font-size:13px;" href="{{friend.href}}">{{friend.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
